.main {
  height: 100vh;
}

.row {
  height: 100%;
}

.row>* {
  padding-right: 0px;
  padding-left: 0px;
}

.menu {
  background: var(--background);
}

.menu-logo {
  position: relative;
  width: 100%;
  height: 150px;
}

#menu-logo {
  width: 90px;
  height: 100px;
}

#logo {
  width: 100%;
  height: 100%;
  background-image: var(--favicon);
  background-size: 100%;
}

.menu-items {
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
  width: 100%;
  height: auto;
}

.menu-item {
  position: relative;
  margin-left: 0;
  width: 100%;
  height: 3rem;
}

#menu-item-icon {
  position: relative;
  width: 25%;
  height: 100%;
}

i {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--orange);
}

#menu-item-content {
  position: relative;
  width: 75%;
  height: 100%;
  padding: 10px 5px;
  font-size: 1rem;
}

.content {
  background: var(--background2);
}

header {
  padding: 10px;
  width: 100%;
  height: 60px;
  background: var(--light-green);
}

.profile-circle {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url(../img/favicon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #fff;
  margin-right: 0;
  border-radius: 5rem;
  float: right;
  margin-right: 10px;
}

.profile-circle:hover {
  cursor: pointer;
}

.profile-content {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  background: var(--background);
  box-shadow: 0px 0px 2px #fff;
}

.profile-content ul {
  margin-top: 20%;
}

.profile-content h1 {
  margin-top: 10px;
  font-weight: bold;
}

.profile-content ul li i {
  margin-left: -10%;
}

li {
  list-style: none;
  text-align: left;
}

.font-lg {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 1rem;
}

span {
  margin-left: 10%;
}

.main-content{
  width: 100%;
  height: 100%;
  background: var(--background2);
  padding: 1rem;
}

.users {
  width: 99%;
  height: 3rem;
  background: var(--background);
  border-radius: 5px;
  padding: 0.5rem;
}

#users-username {
  display: inline;
  max-width: 200px;
}