.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.logo {
    margin: auto;
    width: 465px;
    height: 500px;
}