#submit {
    padding: 1rem;
    width: 10rem;
    background: var(--light-green);
    border-radius: 5rem;
    border: 0;
    margin-top: 4rem;
    color: #fff;
}

#forgotpass {
    display: block;
    text-decoration: none;
    color: #000;
}

.form {
    position: relative;
    padding: 1rem;
    background: #F5F5F5;
    max-width: 20rem;
    border:3px solid var(--light-green);
    border-radius: 1rem;
    margin-top: 1rem;
}

form img {
    border-radius: 1rem;
    padding: 0.5rem;
    width: 5rem;
}

span {
    text-align: center;
    color: #ff0000;
    left: 30px;
}

#nameError {
    display: none;
    font-size: 0.8em;
}

#nameError.visible {
    display: block;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    outline: 0;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    font-weight: normal;
}

input.invalid {
    border-color: var(--red);
}

#info_icon {
    color: var(--red);
}