button {
    padding: 1rem;
    width: 10rem;
    background: var(--light-green);
    border-radius: 5rem;
    border: 0;
    margin-top: 4rem;
    color: #fff;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

form {
    padding: 1rem;
    background: #e8e8f3;
    min-width: 20rem;
    border-radius: 1rem;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
}

form img {
    border-radius: 1rem;
    padding: 0.5rem;
    width: 5rem;
}

span {
    left: 30px;
}