* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/login_background.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}