{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid content">
  <div class="logo">
    <img id="theme-logo-light" src="{{url_for('static', filename='img/favicon.png')}}" width="100%" height="100%" alt="Conteúdo do site">
    <img id="theme-logo-dark" src="{{url_for('static', filename='img/favicon_dark.png')}}" width="100%" height="100%" alt="Conteúdo do site" style="display: none;">
  </div>
</div>
{% endblock %}