{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<section>
  {% set messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          <ul id="message" class="message position-absolute bottom-0 start-50 translate-middle-x">
            <li class="text-center">
              <img src="{{url_for('static', filename='img/circle-exclamation.svg')}}" width="25px" height="25px" style="margin-top: -5px;" alt="Alerta">
              {{message}}
            </li>
          </ul>
      {% endfor %}
    {% endif %}
    <div class="container">
      <form action="/login" method="POST" class="form position-absolute top-50 start-50 translate-middle" name="formulario">

        <img class="position-relative top-0 start-50 translate-middle-x" src="{{url_for('static', filename='img/favicon.png')}}" alt="Logomarca">
        
        <div class="col-md-12">
            <label for="cpf_input" class="form-label">CPF</label>
            <input class="form-control" name="cpf" type="text" id="cpf_input" aria-describedby="cpfHelp" placeholder="000.000.000-00" maxlength="14" onkeypress="formatar('###.###.###-##', this)" checked>
        </div>
        <br>
        <div class="col-md-12">
          <label for="password_input" class="form-label">Senha</label>
          <input class="form-control" name="password" type="password" id="password_input" placeholder="Digite sua senha">
        </div>

        <a id="forgotpass" class="text-center" href="/login/recuperar_senha">Esqueceu sua senha?</a>

        <button id="submit" type="submit" class="position-relative bottom-0 start-50 translate-middle" onclick="return validate()">ENTRAR</button>
        <span role="alert" id="nameError" aria-hidden="true">
          <i id="info_icon" class="fa-solid fa-circle-info"></i>  Preencha todos os campos!
        </span>
      </form>
      
    </div>
</section>
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock%}