{% extends 'layout.html' %}
{% block body %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<section>
  {% set messages = get_flashed_messages() %}
    {% if messages%}
      {% for message in messages%}
          <ul id="message" class="message position-absolute top-0 start-50 translate-middle-x">
            <li class="text-center">
              {{message}}
            </li>
          </ul>
      {% endfor %}
    {% endif%}
    <form action="/login" method="post"class="position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center">LOGIN</h1>
        <div class="mb-3">
            <label for="exampleInputCPF" class="form-label">CPF</label>
            <input type="text" class="form-control" id="exampleInputCPF" aria-describedby="emailHelp" placeholder="000.000.000-00" oninput="mascara(this)" checked>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Digite sua senha">
        </div>
        <a class="text-center" href="/login/recuperar_senha">Esqueceu sua senha?</a>
        <button type="submit" class="position-relative bottom-0 start-50 translate-middle">ENTRAR</button>
      </form>
</section>
<script>
    function mascara(i){
   
   var v = i.value;
   
   if(isNaN(v[v.length-1])){ // impede entrar outro caractere que não seja número
       i.value = v.substring(0, v.length-1);
       return;
   }
   
   i.setAttribute("maxlength", "14");
   if (v.length == 3 || v.length == 7) i.value += ".";
   if (v.length == 11) i.value += "-";

   }
   
  ul = document.getElementById('message')
  
  if (ul) {
    setTimeout(() => {
      ul.style.opacity = '0'
    },3000)
  }
</script>
{% endblock%}