{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register_nutrition.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid content">
  <div class="register col-md-6">
    <form action="/register_nutricionista" id="register_nutricionista_form" method="POST" class="row g-3 needs-validation" novalidate>
      <div class="col-md-6">
         <label for="validationCustom01" class="form-label">CPF</label>
         <input onkeyup="search_user()" name="cpf" type="text" class="form-control" id="cpf" required="" value="" placeholder="Digite o seu cpf">
         <div class="invalid-feedback">
            Insira o CPF!
         </div>
      </div>
      <div class="col-md-6">
         <label for="validationCustom02" class="form-label">CFN</label>
         <input name="nome" type="text" class="form-control" id="validationCustom02" required="" placeholder="Digite o seu nome">
         <div class="invalid-feedback">
            Insira o cfn!
         </div>
      </div>

      <p id="username_response"></p>

      <div class="col-12 text-center" id="submit-container">
         <button class="btn btn-success mx-auto" id="btn-submit" type="submit">SALVAR</button>
      </div> 
  </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='js/register_nutrition.js')}}"></script>
{% endblock %}