{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register_nutrition.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid content">
  <div class="register">
    <form action="/register_nutricionista" id="register_nutricionista_form" method="POST" class="row g-3 needs-validation was-validated">
      <div class="col-md-4">
         <label for="validationCustom01" class="form-label">CPF</label>
         <input name="cpf" type="text" class="form-control" id="validationCustom01" required="" placeholder="Digite o seu cpf" maxlength="14" onkeypress="formatar('###.###.###-##', this)">
         <div class="invalid-feedback">
            INSIRA O CPF!
         </div>
      </div>
      <div class="col-md-8" id="search-button">
         <a href="/procurar-cliente"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <div class="col-md-4">
         <label for="validationCustom02" class="form-label">CFN</label>
         <input name="nome" type="text" class="form-control" id="validationCustom02" required="" placeholder="Digite o seu nome">
         <div class="invalid-feedback">
            INSIRA O NOME!
         </div>
      </div>
  </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='js/register_user.js')}}"></script>
{% endblock %}