{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register_user.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid content">
  <div class="register_user">
    <form action="/register_user" method="POST" class="form text-left">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">NOME</label>
          <input name="nome" type="text" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp" placeholder="Nome ...">
        </div>
        <div class="mb-3">
          <label for="exampleInputCpf" class="form-label">CPF</label>
          <input name="cpf" type="text" class="form-control" id="exampleInputCpf" aria-describedby="cpfHelp" placeholder="000-000-000-00">
        </div>
        <div class="mb-3">
          <label for="exampleInputRua" class="form-label">RUA</label>
          <input name="rua" type="text" class="form-control" id="exampleInputRua" aria-describedby="ruaHelp" placeholder="Rua ...">
        </div>
        <div class="mb-3">
          <label for="exampleInputNumero" class="form-label">NÚMERO</label>
          <input name="numero" type="text" class="form-control" id="exampleInputNumero" aria-describedby="numeroHelp" placeholder="0">
        </div>
        <div class="mb-3">
          <label for="exampleInputBairro" class="form-label">BAIRRO</label>
          <input name="bairro" type="text" class="form-control" id="exampleInputBairro" aria-describedby=bairroHelp" placeholder="Bairro ...">
        </div>
        <div class="mb-3">
          <label for="exampleInputCidade" class="form-label">CIDADE</label>
          <input name="cidade" type="text" class="form-control" id="exampleInputCidade" aria-describedby="cidadeHelp" placeholder="Cidade ...">
        </div>
        <div class="mb-3">
          <label for="exampleInputCelular" class="form-label">CELULAR</label>
          <input name="celular" type="text" class="form-control" id="exampleInputCelular" aria-describedby="celularHelp" placeholder="(00) 00000-0000">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label">EMAIL</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="seuemail@gmail.com">
        </div>
        <div class="mb-3 form-check">
          <label id="form-check-label" class="form-check-label" for="exampleCheck1">ADMINISTRADOR</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </div>
        <button id="btn-submit" type="submit" class="btn btn-success">CADASTRAR</button>
      </form>
  </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='js/register_user.js')}}"></script>
{% endblock %}