{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/users.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid content2">
    <div class="col-md-12" id="users_register">
        <div class="header col-md-12">

            <div class="col-md-6">
                <div id="header_register_button" onclick='location.href="/register_user"'>
                    <div id="header_register_title">
                        Adicionar Usuário
                        <i id="search_icon" class="fa-solid fa-circle-plus fa-xl"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="header_search_button">
                    <div id="header_search_input">
                        <input type="text" name="user" placeholder="Consultar usuário" id="search_input">
                        <i class="fa-solid fa-magnifying-glass fa-lg" id="search_button"></i>
                    </div>
                </div>
            </div>

        </div>
        {% if users %}
            {% for user in users %}
                {% if user[2] == 1 %}
                    <div class="user_card">
                        <div class="card_title col-md-6">
                            {{user[1]}} (Administrador)
                        </div>
                        <div class="card_content col-md-6">
                            <div class="card_icon">
                                <i class="fa-solid fa-utensils fa-lg icon-animation dark-green alimentar_plan_button"></i>
                            </div>
                            <div class="card_icon">
                                <i class="fa-solid fa-pencil fa-lg icon-animation blue edit_user_button"></i>
                            </div>
                            <div class="card_icon">
                                <i class="fa-solid fa-trash fa-lg icon-animation red delete_user_button"></i>
                            </div>
                            <input type="hidden" id="user_cpf" value="{{user[0]}}">
                        </div>
                    </div>
                {% else %}
                <div class="user_card">
                    <div class="card_title col-md-6">
                        {{user[1]}}
                    </div>
                    <div class="card_content col-md-6">
                        <div class="card_icon">
                            <i class="fa-solid fa-utensils fa-lg icon-animation dark-green alimentar_plan_button"></i>
                        </div>
                        <div class="card_icon">
                            <i class="fa-solid fa-pencil fa-lg icon-animation blue edit_user_button"></i>
                        </div>
                        <div class="card_icon">
                            <i class="fa-solid fa-trash fa-lg icon-animation red delete_user_button"></i>
                        </div>
                        <input type="hidden" id="user_cpf" value="{{user[0]}}">
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="user_not_found">
            Nenhum usuário encontrado!
        </div>
        {% endif %}
    </div>
  </div>
  {% set messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
     {% for category, message in messages %}
     <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
           <div class="toast-header">
             <img src="{{url_for('static', filename='img/favicon.png')}}" width="5%" height="100%" class="rounded me-2" alt="Logomarca">
             <strong class="me-auto">Notificação</strong>
             <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
           </div>
           <div class="toast-body {{category}}">
             {{message}}
           </div>
         </div>
     </div>
     {% endfor %}
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{{url_for('static', filename='js/users.js')}}"></script>
{% endblock %}